<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><% if ( typeof title != 'undefined' ) { %><%= title %> <% } else { %>Nature Language Processing Toolkit<% } %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    a {
        text-decoration:none;
        color:#0072aa;
    }
    a:hover {
        color:#0090c0;
    }
    body {
        font-family: 'Noto Serif',serif;
    }
    </style>
</head>
<body>

</body>
</html>